
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side' "
   fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="false">
    <mat-toolbar>menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="#" (click)="sidenav.close()">Home</a>
      <a mat-list-item routerLink="#" (click)="sidenav.close()">Login</a>
      <a mat-list-item routerLink="#" (click)="sidenav.close()">Kanban Demo</a>
      <a mat-list-item routerLink="#" (click)="sidenav.close()">SSR Demo</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav"
              mat-icon-button (click)="sidenav.toggle()"
              *ngIf="isHandset$ | async">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo">🔥 Angular FireStarter</span>
      
      <!-- links for larger devices -->
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/Kanban"> Kanban Demo</a>
        <a mat-button routerLink="/customers"> SSR Demo</a>
        <a mat-button routerLink="/login"> Login</a>
      </div>
      <!-- other toolbar content -->
    </mat-toolbar>

    <!-- main content -->
  </mat-sidenav-content>
</mat-sidenav-container>

